/.runtime/
/.mapleweb.pid
/.mapleweb.log
/.mapleweb-error.log
/assets/config/install/installdone.txt
/assets/img/GD/Accessory/
/assets/img/GD/Cap/
/assets/img/GD/Cape/
/assets/img/GD/Characters/
/assets/img/GD/Coat/
/assets/img/GD/Face/
/assets/img/GD/Glove/
/assets/img/GD/Hair/
/assets/img/GD/Longcoat/
/assets/img/GD/Pants/
/assets/img/GD/Shield/
/assets/img/GD/Shoes/
/assets/img/GD/Skin/
/assets/img/GD/Weapon/
